.container {
    display: flex;
    height: 100%;
  }
  
  .left, .right {
    position: relative;
    flex: 1;
    height: 814.5px;
    background-color: #f3f3f3;
    border-bottom: 2px solid gray;
    transition: all 0.2s ease-in-out;
  }
  .left {
    border-right: 1px solid gray;
  }
  .right {
    border-left: 1px solid gray;
  }

  .example {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 10px;
    font-size: 20px;
    background-color: #dedede;
  }
  .exampleButton {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    padding: 20px 0;
    margin: 0;
    font-size: 32px;
    background-color: #f3f3f3;
    transition: all 0.2s ease-in-out;
  }
  .exampleButton:hover {
    background-color: #dedede;
    transition: all 0.2s ease-in-out;
  }
  
  .select {
    display: flex;
    justify-content: center;
    background: #f3f3f3;
    padding: 0 10px;
    margin: 0 0 0 0;
  }

  .input {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #cdcdcd;
    padding: 0 50px;
  }
  .output {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 18px;
    background: #f3f3f3;
    padding: 0 40px;
  }
  .outputText {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 18px;
    background: #f3f3f3;
    padding: 0 10%;
  }
  .outputButton {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding: 0 50px;
  }
  
  .check {
    width: 35px;
    height: 35px;
    display: block;
    position: relative;
    background-color: #f3f3f3;
    box-shadow: 0 0 15px rgba(0 0 0 / 20%);
    cursor: pointer;
    margin: 10px 20px;
  }
  
  .tooltip {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    background-color: #333;
    color: #fff;
    padding: 17px 25px;
    border-radius: 25px;
    font-size: 16px;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .toggleSwitch {
    width: 70px;
    height: 40px;
    display: block;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0 0 0 / 20%);
    cursor: pointer;
    margin: 25px 10px;
  }
  #autoCopy:checked ~ .toggleSwitch {
    background: #fe642e;
    transition: all 0.2s ease-in;
  }
  
  .toggleSwitch .toggleButton {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fe642e;
    transition: all 0.2s ease-in;
  }
  #autoCopy:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 35px);
    background: #fff;
  }