.App {
  text-align: center;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.main-title {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.input {
  text-align: left;
  display: flex;
  background: #dedede;
  width: 75%;
  padding-left: 40px;
}

.select {
  text-align: left;
  display: flex;
  background: #f3f3f3;
  width: 75%;
  padding-left: 40px;
}

.output {
  text-align: left;
  display: flex;
  background: #dedede;
  width: 75%;
  padding-left: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
